<div class="site-content" id="about">
    <p>
        Here at PhotoCloud, we take transparency very seriously. We offer the ability to
        safely store your photos and make them available to friends, family, and the world.
        In return for these services, uploaded data will be used as part of our datasets in
        our AI and machine learning neural networks, but will never be seen by anyone you don't
        want them to. <br/><br/>
    </p>
    <p>
        This allows us to provide these services free of charge but advance our research in AI
        with a dataset that would be unavailable otherwise. Thank you for your trust and choosing
        PhotoCloud!
    </p>
</div>