<div class="site-content">
    <h1>Congrats! You broke it!</h1>
    <h2>The page you were looking for does not exist.</h2>

    <p>Click here to go back to the homepage: <a href="/">Take me back</a><br /><br />
     If you believe this was an error, contact support: <a href="mailto:jkoelmel1@mail.sfsu.edu"
             target="_blank">Report Problem</a>
        <div class="sub-div">
            The cake is a lie...
        </div>
    </p>
</div>
