<div>
    <p>So you lost your password and were expecting to reset it here?<br/><br/>
        Bummer...<br/><br/>
        Here's a gif as consolation:<br/><br/><br/>
        <img src="https://media.giphy.com/media/bbshzgyFQDqPHXBo4c/giphy-downsized.gif" alt="dog-gif">
        <br/><br/>
        Contact the admin for further assistance <a href="mailto:jkoelmel1@mail.sfsu.edu" target="_blank">here</a>
    </p>
</div>