*{
    text-align: center;
}


nav {
    display: flex;
    background-image: url("../images/nav-background.png");
    background-size: cover;
    flex-wrap: wrap;
    grid-area: topbar;
}

nav > div{
    flex: 1 1 auto;
    border: 1px solid black;
    box-shadow: 0 2px 4px lightslategray;
    padding-top: 5px;
}

nav > div.text {
    padding-top: 15px;
}

form > button {
    background-color: steelblue;
    color: snow;
}

form.search {
    padding-top: 15px;
}

body {
    background-image: url("/public/images/abstract-white.jpg");
    font-family: Verdana;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

textarea{
    text-align: left;
    width: 45vw;
    height: 15vh;
    resize: none;
}

input{
    text-align: left;
}

input[type=submit] {
    background-color: steelblue;
    color: snow;
}

fieldset {
    border: 1px dot-dash black;
    box-shadow: 0 2px 4px ghostwhite;
    font-weight: bolder;
}

a:link {
    color: black;
}

a:visited {
    color: mediumblue;
}

a:hover {
    color: white;
}

.shadow {
    border: 2px dot-dash silver;
    box-shadow: 0 8px 8px lightgrey;
}

.box-shadow-light {
    border: 1px solid snow;
    box-shadow: 0 1px 3px darkblue;
}

.box-shadow-dark {
    border: 1px solid white;
    box-shadow: 0 2px 2px black;
}

#flash-message {
    position: center;
}

#flash-message div {
    text-align: center;
    color: red;
}

#logout {
    text-decoration: underline;
}

.grid-container {
    display: grid;
    height: 95vh;
    width: 95vw;
    margin: 1em auto auto auto;
    grid-template-rows: .05fr .10fr 1fr .05fr;
    grid-template-columns:  1fr;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-gap: 2px;
    grid-template-areas:
    "topbar"
    "header"
    "content"
    "footer";
}

.site-header {
    background-color: dimgray;
    grid-area: header;
    font-weight: bold;
}

.site-topbar{
    display: flex;
    flex-wrap: wrap;
    grid-area: topbar;
}

.site-topbar > div {
    flex: 1 1 auto;
    padding-top: 2vh;
}

.site-content {
    grid-area: content;
    background-size: 90vw;
}

.site-footer {
    grid-area: footer;
    font-weight: lighter;
    position: relative;
    bottom: 0;
    text-align: center;
}
